/build/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build output
/bin/
/build/
/dist/
*.out

# Air temp folder
tmp/

# IDE / Editor junk
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
